.footer {
    position: absolute;
    left: 0;
    bottom: 0%;
    height: 15%;
    width: 100%;
    background-color: rgb(223, 142, 43);
    color: black;
    text-align: center;
    
}
.form-group .helptext, .form-group .errorlist {
    display: none;
}

.errores
  {
    display: none;
    position: absolute;
    margin-top: -3%;
    margin-left: 15%;
    background-color: rgb(243, 171, 84);
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 8%;
   
  }