{%load static%}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registro</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'CSS/Galeria.css'%}">
  <script src="{% static 'JQuery/Redireccion.js'%}"></script>



</head>
<!-- Barra de navegacion -->
<!--Barra navegacion pantalla -->

<body style="Background-color : #a06c3f; ">


  {%if user.is_authenticated %}
  <a href="#">{{ user.username}}</a>
  {% endif %}

  <div class="contenido">
    {% load crispy_forms_tags %}
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
          <div class="card">
            <div class="car-body">
              <h2>Registro de datos</h2>
              <form action="#" method="post" id="formulario">
                <div id="errorNombre" class="errores">Ingrese usuario entre 20 y 10 caracteres</div>
                <div id="errorpassword" class="errores">Ingrese contraseña con 1 mayuscula, 1 minuscula, 1 numero y un caracter especial</div>
                <div id="errorConf" class="errores">contraseña no coincide</div>
                <div id="errorCorreo" class="errores">ingrese un correo</div>
                <div id="errorCorreoFormato" class="errores">ingrese correo gmail o hotmail.cl/com</div>
                <div id="errorConfCorreo" class="errores">los correos no coinciden</div>
                {% csrf_token %}
                {{ form | crispy }}
                <img src="{% static  'img/icons8-ojo-cerrado-16.png' %}" onclick="esconder('id_password1','eye')"
                  class="esconder" id="eye" style="left: 90%; top: 38%;">
                <img src="{% static  'img/icons8-ojo-cerrado-16.png' %}" onclick="esconder('id_password2','eye2')"
                  class="esconder" id="eye2" style="left: 90%; top: 51%;">
                  <img src="{% static 'img/icons8-basura-16.png' %}" onclick="empty('id_password1')" id="borrar" style="left: 75%; top: 38%;" class="esconder_2">

                <img src="{% static 'img/icons8-basura-16.png' %}" onclick="empty('id_password2')" id="borrar" style="left: 75%; top: 51%;" class="esconder_2">
                <button type="submit" class="btn btn-secondary" id="registrar" style="float:right;">registrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  </div>


  <footer>
    <div class="footer">
        Benjamin Rodriguez
        Brian Martel
        Daniel Avilar
        @Copyrigth Derechos reservados.

    
        <a #link1 href="linkInstagram"><img src="{% static 'img/instagram.png'%}" alt="@SpiderBoulder" width="10%"
          height="120%"> </img></a>
    
  </div>
</footer>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="{% static 'JQuery/scriptRegistro.js'%}"></script>
  <script src="{% static 'JQuery/Rutina_borrar_esconder.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>